<!DOCTYPE html>
<table style="width: 100%">
  <tbody>
    <tr>
      <td align="center">
        <table width="711" border="0" align="center" cellpadding="0" cellspacing="0" role="presentation">
          <tbody>
            <!-- Header -->
            <tr style="background-color: #1a2155">
              <td style="padding: 10px">
                <img src="https://via.placeholder.com/200x50.png?text=TAI+Logo"
                     alt="The Aguda Institute" style="max-width: 200px" />
              </td>
              <td style="padding: 10px">
                <h3 style="color: #fff; float: right; margin-bottom: 0">Password Reset</h3>
              </td>
            </tr>

            <!-- Greeting -->
            <tr>
              <td>
                <p>Dear <%= name || "Member" %>,</p>
              </td>
            </tr>

            <!-- Instructions -->
            <tr>
              <td>
                <p>
                  You've requested a password reset for your account.
                  If you initiated this, kindly proceed to enter the OTP below to reset your password.
                  <br /><br />
                  <strong>OTP: <%= resetCode || "123456" %></strong>
                </p>
              </td>
            </tr>

            <!-- Security note -->
            <tr>
              <td colspan="2">
                <p>
                  If this request was not initiated by you, kindly ignore and do not share this
                  email or OTP with anyone.
                  <br /><br />
                  We've got you covered.
                  <br /><br />
                  Kind regards,
                </p>
              </td>
            </tr>

            <!-- Signature -->
            <tr>
              <td colspan="2">
                The Aguda Institute (TAI) Support
              </td>
            </tr>

            <tr>
              <td>
                <p>Thank you.</p>
              </td>
            </tr>

            <!-- Contact / Customer Service -->
            <tr>
              <td>
                <h5 style="color: #1a2155; margin: 0">Customer Service</h5>

                <table cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td>
                        <p style="margin: 0; color: #1a2155; margin-right: 10px;">Address:</p>
                      </td>
                      <td>
                        <p style="margin: 0">123 Example Street, South-West Ikoyi, Lagos, Nigeria</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="margin: 0; color: #1a2155; margin-right: 10px;">Phone No:</p>
                      </td>
                      <td>
                        <p style="margin: 0"><%= "+234 800 000 0000" %></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="margin: 0; color: #1a2155; margin-right: 10px;">Email:</p>
                      </td>
                      <td>
                        <p style="margin: 0">
                          <a href="mailto:<%=  'support@tai.org' %>">
                            <%=  'support@tai.org' %>
                          </a>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="margin: 0; color: #1a2155; margin-right: 10px;">Website:</p>
                      </td>
                      <td>
                        <p style="margin: 0">
                          <a href="<%=  'https://tai.org' %>">
                            <%=  'www.tai.org' %>
                          </a>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>

              <!-- Secondary logo -->
              <td>
                <img src="https://via.placeholder.com/200x50.png?text=TAI+Logo"
                     alt="The Aguda Institute" style="max-width: 200px" />
              </td>
            </tr>

            <!-- Social icons -->
            <tr>
              <td style="padding-left: 10px">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center">
                      <a href="<%=  'https://facebook.com/tai.ng' %>">
                        <img style="max-width: 25px; width: 100%; margin-left: 10px;"
                             src="https://via.placeholder.com/25.png?text=F" alt="Facebook" />
                      </a>
                    </td>
                    <td align="center">
                      <a href="<%= 'https://instagram.com/tai.ng' %>">
                        <img style="max-width: 25px; width: 100%; margin-left: 10px;"
                             src="https://via.placeholder.com/25.png?text=IG" alt="Instagram" />
                      </a>
                    </td>
                    <td align="center">
                      <a href="<%='https://twitter.com/tai_ng' %>">
                        <img style="max-width: 25px; width: 100%; margin-left: 10px;"
                             src="https://via.placeholder.com/25.png?text=X" alt="X" />
                      </a>
                    </td>
                    <td align="center">
                      <a href="<%= 'https://linkedin.com/company/tai' %>">
                        <img style="max-width: 25px; width: 100%; margin-left: 10px;"
                             src="https://via.placeholder.com/25.png?text=IN" alt="LinkedIn" />
                      </a>
                    </td>
                    <td align="center">
                      <a href="<%= 'https://youtube.com/@tai' %>">
                        <img style="max-width: 25px; width: 100%; margin-left: 10px;"
                             src="https://via.placeholder.com/25.png?text=YT" alt="YouTube" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- Banner (general programs) -->
            <tr>
              <td colspan="2" style="margin-top: 20px">
                <a href="<%= 'https://tai.org/programs' %>" style="width: 100%; margin-top: 10px">
                  <img src="<%=  'https://via.placeholder.com/711x150.png?text=Explore+TAI+Programs' %>"
                       alt="TAI Programs" width="100%" />
                </a>
              </td>
            </tr>

          

              <tr>
              <td colspan="2">
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td>
                        <p style="background-color: #1a2155; padding: 10px 5px; text-align: center;">
                          <a href="https://tai.org/programs" style="color: #fff">Our Programs</a>
                        </p>
                      </td>
                      <td>
                        <p style="background-color: #1a2155; padding: 10px 5px; text-align: center;">
                          <a href="https://tai.org/resources" style="color: #fff">Resources</a>
                        </p>
                      </td>
                      <td>
                        <p style="background-color: #1a2155; padding: 10px 5px; text-align: center;">
                          <a href="https://tai.org/events" style="color: #fff">Events</a>
                        </p>
                      </td>
                      <td>
                        <p style="background-color: #1a2155; padding: 10px 5px; text-align: center;">
                          <a href="https://tai.org/about" style="color: #fff">About Us</a>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
